# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/
bin/

# Fabric / Loom
run/
remappedSrc/
.fabric/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*
